@{
    ViewData["Title"] = "Log in";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h2>LADP integration</h2>
<p>Use this area to Login </p>
<form method="post">
    <table>
        <tr>
            <td>User name</td>
            <td><input type="text" name="userName" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Log in " /></td>
        </tr>
    </table>
</form>

